---
import metadataFetch from '@/utils/metadata.fetch'
import Layout from '../layouts/Layout.astro'
const metadata = await metadataFetch('Index_Page')
---

<Layout {...metadata}>
  <section class="section">
    <a href="/produkty/dzierganie">Produkty do dziergania</a>
    <a href="/produkty/szydelkowanie">Produkty do szydełkowania</a>
    <a href="/instrukcje">Instrukcje</a>
    <a href="/pakiety">Pakiety</a>
  </section>
</Layout>

<style lang="scss">
  .section{
    width: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    a{
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #000;
      color: #fff;
    }
  }
</style>