---
import type { Product } from '@/src/global/types';


type Props = {
	items: Product[];
  href?: string;
}

const { items, href } = Astro.props;
---

<ul class="list">
  {items.map((item) => (
   <a href={`${href ? href + '/' : ''}${item.handle}`}>
    <img src={item.images.edges[0].node.url} sizes="100vw" />
    <div>
      <h2>{item.title}</h2>
      <p>{item.description}</p>
    </div>
   </a>
  ))}
</ul>

